/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.border-radius {
  border-radius: 3px;
}
html,
body {
  height: 100%;
}
body {
  font: normal 16px/24px helvetica, arial, sans-serif;
  background: #f8f8f8;
  color: #111111;
}
.main-grid {
  width: 960px;
  margin: 0 auto;
}
header {
  background: #111111;
  color: #f8f8f8;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  transition: all .5s;
}
header.light {
  color: #111111;
}
header h1 {
  font-family: "Gotham Rounded", helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  line-height: 1.5em;
  text-transform: uppercase;
}
.filter-panel {
  display: inline-block;
  text-align: center;
  line-height: 50px;
}
.filter-panel .filter {
  font-family: "courier new", menlo, monospace;
}
.filter-panel .filter.slider input {
  width: 100px;
}
.filter-panel .filter.hex-color input {
  width: 50px;
  border: none;
  padding: 2px 5px;
  box-shadow: inset 0 5px 10px -2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.brands-container {
  overflow: hidden;
  padding-bottom: 30px;
}
.brands-container .brand {
  width: 300px;
  height: 150px;
  margin: 30px 30px 0 0;
  float: left;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  text-align: center;
  box-shadow: inset 0 -20px 80px -40px rgba(0, 0, 0, 0.5);
  transition: all .3s;
  border-radius: 3px;
}
.brands-container .brand:hover {
  box-shadow: inset 0 -35px 120px -50px rgba(0, 0, 0, 0.5);
}
.brands-container .brand:nth-child(3n) {
  margin-right: 0;
}
.brands-container .brand h2 {
  font-size: 1.5em;
  padding: 1em;
}
.color-list {
  display: inline-block;
  overflow: hidden;
  padding: 0 24px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.color-list li {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
.tag-list {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.tag-list li {
  display: inline-block;
  font-size: .8em;
}
.tag-list li:not(:last-child):after {
  content: ",";
}
