.success {
  color: #55cc88;
}
.warning {
  color: #ffaa44;
}
.fail {
  color: #cc4444;
}
.monospace {
  font-family: "input mono", menlo, monaco, monospace;
}
.result {
  background: #e3e4ea;
  border-left: 1px solid #d4d6df;
  font-family: "input mono", menlo, monaco, monospace;
}
.information h3 {
  font-size: 1.38em;
  margin-bottom: 1em;
}
.information h3:not( :nth-of-type(1)) {
  margin-top: 2em;
}
.json {
  white-space: pre;
  overflow-wrap: normal;
  background: none;
  resize: none;
  border: none;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}
.json:not(:empty) {
  cursor: text;
}
.json:focus,
.json:hover {
  background: #dadce3;
}
.json:focus {
  outline: none;
  background: #d2d3dd;
}
