/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.success {
  color: #55cc88;
}
.warning {
  color: #ffaa44;
}
.fail {
  color: #cc4444;
}
.monospace {
  font-family: "input mono", menlo, monaco, monospace;
}
header {
  text-align: center;
  margin: 0 auto 2em;
}
h1 {
  position: relative;
  margin: 0;
  font-family: "Gotham Rounded", helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #333333;
  transition: color .5s;
}
h1 .tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: .5em;
  opacity: 0;
  color: #333333;
  transition: opacity 0.5s;
}
h1:hover {
  color: #f8f8f8;
}
h1:hover .tooltip {
  opacity: 10;
}
.content {
  font-family: "input mono", menlo, monaco, monospace;
}
.content .content-box {
  margin: 3em;
}
.starting {
  text-align: center;
}
.starting p {
  margin-bottom: 1em;
}
.brand-list {
  overflow: hidden;
  text-align: left;
}
.brand-list li {
  float: left;
  width: 33%;
  margin-bottom: .5em;
}
.brand-list li.completed {
  color: #55cc88;
}
.brand-list li.ongoing {
  color: #ffaa44;
}
.start-button {
  display: none;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: capitalize;
  background: #e3e4ea;
  border: none;
  border-radius: 3px;
  border: 1px solid #d4d6df;
  box-shadow: inset 1px 1px 0 #eeeeee, inset -1px -1px 0 #eeeeee, inset 0 -5px 40px -20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all .2s;
}
.start-button.cancel {
  background: #eae4e3;
  color: #cc4444;
}
.start-button.cancel:hover {
  border: 1px solid #e1bfb9;
  background: #e1d5d3;
}
.start-button:hover {
  border: 1px solid #b9bfe1;
  background: #d3d5e1;
}
.start-button:active {
  box-shadow: inset 1px 1px 1px #eeeeee, inset -1px -1px 1px #eeeeee, inset 0 5px 40px -15px rgba(0, 0, 0, 0.5);
}
.start-button:disabled {
  background: #cccccc;
  color: #f8f8f8;
  cursor: default;
}
.result {
  background: #e3e4ea;
  border-left: 1px solid #d4d6df;
  font-family: "input mono", menlo, monaco, monospace;
}
.information h3 {
  font-size: 1.618em;
  margin-bottom: 1em;
}
.information h3:not( :nth-of-type(1)) {
  margin-top: 1em;
}
.json {
  text-overflow: ellipsis;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  font: normal 0.9em/1.618 helvetica, arial, sans-serif;
  background: #f8f8f8;
  color: #333333;
}
button:hover,
button:focus {
  outline: none;
}
.container {
  overflow: hidden;
  height: 100%;
}
.container .main,
.container .result {
  float: left;
  height: 100%;
  padding: 1.618em 2em;
  box-sizing: border-box;
}
.container .main .content,
.container .result .json {
  overflow-y: auto;
  overflow-x: hidden;
}
.container .main {
  width: 61.8%;
}
.container .result {
  width: 38.2%;
}
.container .result .information {
  height: 30%;
}
.container .result .json {
  height: 70%;
}
